<!--@Luong-->
<!--Dua ra thong bao error khi co loi xay ra-->
<!--Da tuong doi hoan thanh, nhung chua biet lam sao de chuyen sang error bang Japanese-->
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>