<!-- <header class="navbar navbar-fixed-top navbar-inverse">
	<div class="containter">
<%= link_to "ITQ&A", root_path, id: "logo" %>
	<nav>
	<ul class="nav navbar-nav pull-right">
    </ul>
    </nav>
    </div>
</header> -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->